<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>9-class</title>
    <script src="js/vue.js"></script>
</head>

<body>
<div id="example-1">
    <select v-model="selected">
      <option value="D">请选择</option>
      <option v-for="option in options" v-bind:value="option.value">
        {{ option.text }}
      </option>
    </select>
    <span>Selected: {{ selected }}</span>
</div>
    <script>
    new Vue({
      el: '#example-1',
      data: {
        selected: 'D',
        options: [
          { text: 'One', value: 'A' },
          { text: 'Two', value: 'B' },
          { text: 'Three', value: 'C' }
        ]
      }
    })
    //渲染出来的value与selected选择项相同，则选中！selected
    //所以默认为空，则"请选择"显示，不需要特意加selected。
    </script>
</body>

</html>
