<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SF上的Vue 全选 单选问题</title>
    <script src="../js/vue2.js"></script>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        body{
            padding: 20px;
        }
        a{
            text-decoration: none;
        }
        .checked-item {
            height: 30px;
            cursor: pointer;
            line-height: 30px;
            list-style: none;
        }
    </style>
</head>

<body>
    <div id="app">
        <a href="https://segmentfault.com/q/1010000012675796?_ea=3106401" target="_blank">SF上的Vue 全选 单选问题</a>
        <ul>
            <li class="checked-item" @click="singleSelect(row, index)" v-for="(row, index) in goods">
                <input type="checkbox" :checked="row.checked"/>{{row.name}}
            </li>
        </ul>
        <div>
            <span @click="allSelect">
                <input type="checkbox" :checked="isAllSelected"/>
                <button>全选</button>
            </span>
            <span class="checked-count" v-if="checkedGoodIds.length > 0">已选择：{{checkedGoodIds.length}}项</span>
        </div>
    </div>
    <script>
        new Vue({
            data: {
                goods: [{
                    id: 1,
                    name: '选项1-xuanyuan1',
                    checked: false
                }, {
                    id: 2,
                    name: '选项2-xuanyuan2',
                    checked: false
                }, {
                    id: 3,
                    name: '选项3-xuanyuan3',
                    checked: false
                }, {
                    id: 4,
                    name: '选项4-xuanyuan4',
                    checked: false
                }, {
                    id: 5,
                    name: '选项5-xuanyuan5',
                    checked: false
                }, {
                    id: 6,
                    name: '选项6-xuanyuan6',
                    checked: false
                }],
            },
            computed:{
                // 是否全选
                isAllSelected(){
                    return this.goods.every((el) => {
                        return el.checked;
                    })
                },
                // 选中商品的id
                checkedGoodIds(){
                    let filterArr = this.goods.filter((el) => {
                        return el.checked;
                    });
                    return filterArr.map((el) => {
                        return el.id;
                    })
                }
            },
            methods: {
                // 全选、全不选
                allSelect() {
                    let checked = true;
                    // 全选
                    if(this.isAllSelected){
                        checked = false;
                    }
                    this.goods = this.goods.map(el => {
                        el.checked = checked;
                        return el;
                    })
                },
                // 单选
                singleSelect(row, index) {
                    row.checked = !row.checked;
                    this.goods.splice(index, 1, row);
                }
            }
        }).$mount('#app')
    </script>
</body>

</html>